/* h1{
    font-size: clamp(16px,4vw,32px);
} */

.about_us h1{
    margin-top: 12vw;
    margin-left: 10vw;
}

.aboutContain {
    display: flex;
    flex-direction: column;
}

.aboutContain img{
    width: 80%;
    margin: 0 auto;
}


.aboutContain p {
    width: 65%;
    font-size: clamp(8px,1vw,14px);
    margin: 2vw auto;
    text-align: center;
}


/* founder */

.founder {
    display: flex;
    justify-content: center;
    padding: 1vw;
    position: relative;
}

.description{
    margin-left: 16vw;
    top: 10vw;
    position: relative;
}

.description p {
    width: 30vw;
    font-size: clamp(8px,1vw,14px);
    margin-bottom: 3vw;
}

.joe {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10vw;
    left: 5vw;
    margin-left: 16vw;
    margin-right: 3vw;
}


.founder h3{
    margin-left: 2vw;
    margin-bottom: 1.5vw;
    margin-top: 20px;
}

.founder ul{
    font-size: 1vw;
    letter-spacing: 3px;
}

.founder li{
    font-size: 1vw;
}


.hao {
    margin-right: 16vw;
    margin-top: 3vw;
    /* margin-left: 10vw; */
    position: relative;
}

.pics img{
    width: 30vw;
}  


/* crew */

.crew{
    margin: 0 auto;
    /* margin-top: 160px; */
    margin-top: 16vw;
    justify-content: center;
    box-sizing: border-box;
}

.crew h1{
    display: flex;
    justify-content: center;
}
.slide{
    display: flex;
    justify-content: center;
}

.crewspic{
    display: flex;
    align-items: end;
    justify-content: center;
}

.crewspic img{
    width: 22vw;
    padding: 0.6vw;
}

.mid img{
    width: 24vw;
}

.slide button{
    background: none;
    border: none;
}

.slide button img{
    width: 4.5vw;
}

.crew .btn{
    display: flex;
    align-items: center;
    margin: 4vw 2.5vw 0;
}



/* hover換照片動畫 */

 /* .pics{ 
    position:relative;
}
.pics img{ 
    position:absolute; */
  /* 淡出淡入效果2秒 */
  /* -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
 }
 .pics img:last-child:hover{
   /* 滑入時第一張透明度設0 */
     /* opacity:0;
} */ 




@media screen and (max-width: 768px) {
    .about_us h1, .description h1 {
        font-size: clamp(16px,4vw,32px);
    }

    p {
        font-size: clamp(12px,1vw,18px);
    }

    .aboutContain img{
        width: 80%;
    }

    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description p{
        width: 60%;
        text-align: center;
        margin-bottom: 12vw;
    }

    .founder {
        
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    .joe {
        display: flex;
    }

    .hao{
        display: flex;
    }

    .detail{
        display: flex;
    }
}