
.title h1{
    font-size: clamp(16px,4vw,32px);
    margin-left: 7vw;
}

span{
    font-size: 12px;
}

.court{
    margin-top: 12vw; 
}

.location {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
    
}

.location img{
    position: relative;
    vertical-align: middle;
    margin-right: 7vw;
    width: 23vw;
}

.pin img{
    z-index: 1;
    width: 1.2vw;
}

.pinA{
    position: absolute;
    top: 3.5vw;
    left: 23vw;
}

.pinB{
    position: absolute;
    top: 8.5vw;
    left: -24vw;
}

.pinC{
    position: absolute;
    top: 4.8vw;
    left: -39vw;
}

.location li{
    font-size: 14px;
}

.locationdt .court_A{
    position: absolute;
    top: 16%;
    right: 35vw;
}

.locationdt .court_B{
    position: absolute;
    top: 32%;
    right: 40vw;
}

.locationdt .court_C{
    position: absolute;
    top: 48%;
    right: 35vw;
}

.location span{
    font-size: 20px;
    color: #003F6A;
    font-weight: 600;
    /* margin-right: 20px; */
}

/* info */

.court_information {
    display: flex;
    flex-direction: column; 
}


.court_information span{
    display: flex;
}

.court_information img {
    width: 31vw;
    vertical-align: bottom;
}

.courtA, .courtB, .courtC{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto 7vw;
}

.courtB{
    display: flex;
    flex-direction: row-reverse;
}

.courtB img{
    width: 31vw;
}

.courtC img{
    width: 31vw;
}

.courtinfo{
    padding: 0 5vw; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    /* border: 1px solid red; */
} 



.courtB .courtinfo {
    margin-right: 10vw;
}

.playone_link{
    display: flex;
    margin: 4vw 0px 0px;
}

.playone_link a{
    font-size: clamp(8px,1vw,10px);
    padding: 0.4vw 2vw;
    background-color: #003F6A;
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
    bottom: 0;
}

.playone_link a:nth-child(1){
    color: white;
    background-color: #AAE7DA;
}

.playone_link a:nth-child(2){
    color: white;
    background-color: #003F6A;
}

.pinpic{
    display: none;
}

.slider{
    display: none;
}




/* 跑馬 */

.solid{
    -webkit-text-stroke: 1px #003F6A;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.marquee span{
    color: #003F6A;
    font-size: 70px;
} 

.marquee{
   margin: 0 auto;
   margin-top: 3vw;
   border-top: 1px solid #003F6A;
   border-bottom: 1px solid #003F6A;
   background-color: #fff;
   overflow: hidden;
   animation-delay: -20s
}


.marquee .slide{
    display: inline-block;
    white-space: nowrap;
    animation: marquee 60s linear alternate;
}


@keyframes marquee{
    0% {
        transform: translateX(0);
      }
    100% {
        transform: translateX(-100%);
    }
}



/* hover秀圖 */

/* .showPic {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 1;
    display: none;
}

.pinA a:hover .showPic img{
    display: block;
    position: relative;
}
 */

 .foundermq{
    display: none;
 }


 @media screen and (max-width: 1024px) {
    
    .court_information{
        margin-top: 10vw;
    }


    .card-wrapper{
        display: flex;
        margin: 0 auto;
        margin-top: 4vw;
    }
    
    h1{
        font-size: clamp(16px,4vw,32px);
        /* 最小字體,當前字體最大字體 */
    }

    .court{
        display: none;
    }

    .pinpic{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .courtA, .courtB , .courtC{
        margin-top: 10vw;
        margin-bottom: 12vw;
    }

    .pinpic h2{
        align-self: center;
        font-size: 3vw;
        margin-left: 3vw;
        padding-bottom: 8vw;
    }

    .pinpic img{
        width: 25vw;
        vertical-align: bottom;
    }

    .courtA .courtinfo{
        margin-left: 6vw;
        padding: 1vw;
    }

    .courtinfo h2{
        display: none;
    }

    .courtB{
        display: flex;
        /* flex-direction: column; */
        /* border: 1px solid red; */
        position: relative;
    }

    .courtB .pinpic{
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .courtA, .courtB{
        padding-bottom: 12vw;
        border-bottom: 1px solid rgb(222, 222, 249);
    }

    /* 跑馬 */
    .marquee span{
        color: #003F6A;
        font-size: 6vw;
    } 

    .solid{
        -webkit-text-stroke: 0.1vw #003F6A;
    }

 }