#navbar {
    height: 8vw;
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.6s;
}

.logo img{
    width: 11vw;
    margin-top: 0.5vw;
    margin-left: 7vw;
}

.navlist{
    display: flex;
    margin-right: 7vw;
}

nav ul{
    display: flex;
    
}

.linkicon i{
    width: 1vw;
    height: 1vw;
    font-size: 1vw;
}

.nav li{
    justify-content: space-between;
    
}


.link a{
    font-size: 1vw;
    color: #003F6A;
    padding: 0.3vw 1vw;
    border: 1px solid #003F6A;
    border-radius: 0.5vw;
    margin-right: 0.8vw;
    transition: 1s;
}

.link a:hover{
    background-color: #003F6A;
    color: white;
}

.linkicon a{
    align-self: center;
    text-align: center;
    transition: 1s;
}

.linkicon a:hover{
    background-color: #003F6A;
    color: white;
}

#navbar {
    width: 100%;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: #ffffff;
    transition: background-color 0.6s;
}


.nav a {
    color: #003F6A;
    transition: 1s;
}


.link{
    margin-right: -45px;
}

.link a:hover{
    background-color: #003F6A;
    color: #fff;
}

/* .linkicon ul{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; 
} */

.linkicon a{
    padding: 100% 1vw;
    border-radius: 0px;
}

.linkicon a:hover{
    background-color: #003F6A;
    color: #fff;
}

/* menu */

#menu{
    padding: 0 12px;
    color: #003F6A;
}

.nav{
    position: relative;
}

.submenu{
    width: 20vw;
    height: 100%;
    background-color: #eff9ff;
    position: absolute;
    top: 100%;
    right: 0;
    height: 55vh;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
} 


.submenu ul{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.submenu li a{
    color: #003F6A;
}


/* 展開 */
.submenu.open-menu{
    width: 20vw;
    height: 55vh;
    max-height: 100vh;
    background-color: #edf8ff;
}

.subMenuLink{
    display: flex;
    align-items: center;
    justify-content: center;
}

.submenu ul{
    margin: 0 auto;
}

.subMenuLink:hover p{
    font-weight: 500;
}


.subMenuLink span{
    transition: transform 0.5s;
}

.subMenuLink:hover span{
    transform: translateX(5px);
}

/* hereeeeeeeee */


#navbar {
    width: 100%;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: #fff;
    transition: background-color 0.6s;
}

.navlist{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 7vw;
}


nav ul{
    display: flex;
}

.nav a {
    color: #003F6A;
    font-size: 13px;
    transition: 1s;
}

.nav li{
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.link{
    margin-right: -35px;
}

.link a{
    color: #003F6A;
    padding: 6px 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-right: 1vw;
}

.link a:hover{
    background-color: #fff;
    color: #003F6A;
}

.linkicon ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkicon a{
    padding: 6px 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    align-self: center;
    align-items: center;
    text-align: center;
    margin-right: 1vw;
}

.linkicon a:hover{
    background-color: #fff;
    color: #003F6A;
}

/* menu */

#menu{
    padding: 10px 12px;
    color: #383838;
    /* border: 1px solid #ffffff; */
    /* border-radius: 50%; */
}

.menu{
    /* position: absolute; */
    top: 100%;
}

.submenu{
    width: 20vw;
    height: 55vh;
    position: relative;
    background-color: #fff;
    /* padding: 1vw; */
    position: absolute;
    top: 100%;
    right: 0;
    height: 50vh;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;

} 

.menu li{
    padding: 3px 10px;
}

.submenu ul{
    display: flex;
    flex-direction: column;
}

.submenu li a{
    border: none;
    color: #05273d;
}


@media screen and (max-width: 768px) {
    .nav {
        width: 100%;
    }

    .link{
        display: none;
    }

    .linkicon li {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .linkicon li i{
        font-size: clamp(10px,1vw,14px);
        border: none;
        margin: 0;
        padding: 1vw;
    }

    #menu{
        font-size: clamp(11px,1vw,14px);
    }

    #menu i{
        padding: 0;
    }

    .submenu {
        width: 100vw;
        height: 100vh;
    }

    .submenu.open-menu{
        width: 100vw;
        height: 100vh;
    }

    #menu{
        font-size: clamp(10px,1vw,14px);
        width: 100%;
        height: 100%;
        margin-top: 0.9vw;
    }


    .linkicon li{
        width: 100%;
        height: 100%;
    }

    .navlist a{
        font-size: clamp(10px,1vw,14px);
        border: none;
        padding: 0.6vw 2.5vw; 
    }



    /* hereeeeee */

    .linkicon a{
        font-size: clamp(10px,1vw,14px);
        border: none;
    }

    #menu{
        font-size: clamp(10px,1vw,14px);
    }

    .navlist a{
        font-size: clamp(10px,1vw,14px);
        padding: 0;
        padding: 0.6vw 2.5vw;    
        border: none;  
        justify-content: center;
    }


    .submenu {
        width: 100vw;
        height: 100vh;
    }

    .submenu.open-menu{
        width: 100vw;
        height: 100vh;
    }

}
