#navbar {
    height: 8vw;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.6s;
    border: 1px solid red;
}

.logo img{
    width: 11vw;
    margin-top: 0.5vw;
    margin-left: 7vw;
}

.navlist{
    display: flex;
    margin-right: 7vw;
}

nav ul{
    display: flex;
    
}

.linkicon i{
    width: 1vw;
    height: 1vw;
    font-size: 1vw;
    margin: 0 auto;
}

.nav li{
    justify-content: space-between;
    
}


.link a{
    font-size: 1vw;
    color: #003F6A;
    padding: 1vw 1vw;
    border: 1px solid #003F6A;
    border-radius: 5px;
    margin: 0.6vw;
    transition: 1s;
}

.link a:hover{
    background-color: #003F6A;
    color: white;
}

.linkicon a{
    padding: 6px 10px;
    /* border: 1px solid #003F6A; */
    border-radius: 50%;
    align-self: center;
    text-align: center;
    margin: 8px;
    transition: 1s;
}

.linkicon a:hover{
    background-color: #003F6A;
    color: white;
}


/* #navbar.scrolled {
    background-color: #003F6A;  滚動時的颜色 
  } */


/* banner */

.banner img{
    width: 100%;
}

.bannertext1{
    position: absolute;
    z-index: 1;
    left: 90px;
    top:150px;
}

.bannertext1 h1{
    color: #fff;
    letter-spacing: 3px;
    line-height: 1.5;
}

.bannertext1 span{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    color: #05273d;
}

.bannertext2{
    position: absolute;
    z-index: 1;
    right: 90px;
    bottom: 0;
    text-align: end;
}

.bannertext2 h1{
    color: #fff;
    line-height: 1.5;
}

.bannertext2 span{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    color: #05273d;
}

/*  */
#navbar {
    width: 100%;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: #ffffff;
    transition: background-color 0.6s;
}


.navlist{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 7vw;
}


nav ul{
    display: flex;
}

.nav a {
    color: #003F6A;
    font-size: 13px;
    transition: 1s;
}

.nav li{
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.link{
    margin-right: -35px;
}

.link a{
    color: #003F6A;
    padding: 0.3vw 1vw;
    border: 1px solid #003F6A;
    border-radius: 5px;
    margin-right: 1vw;
}

.link a:hover{
    background-color: #003F6A;
    color: #fff;
}

.linkicon ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkicon a{
    padding: 6px 10px;
    /* border: 1px solid #003F6A; */
    border-radius: 50%;
    align-self: center;
    align-items: center;
    text-align: center;
    margin-right: 1vw;
}

.linkicon a:hover{
    background-color: #003F6A;
    color: #fff;
}

/* menu */

#menu{
    padding: 10px 12px;
    color: #003F6A;
    /* border: 1px solid #ffffff; */
    /* border-radius: 50%; */
}

.menu{
    /* position: absolute; */
    top: 100%;
}

.submenu{
    width: 15vw;
    position: relative;
    background-color: #eff9ff;
    /* padding: 1vw; */
    position: absolute;
    top: 100%;
    right: 0;
    /* width: 13vw; */
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;

} 

.menu li{
    padding: 3px 10px;
}

.submenu ul{
    display: flex;
    flex-direction: column;
}

.submenu li a{
    border: none;
    color: #003F6A;
}


/* 展開 */
.submenu.open-menu{
    width: 15vw;
    max-height: 50vh;
    background-color: #edf8ff;
}

.subMenuLink{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.subMenuLink p{
    /* margin: 0 auto; */
}

.subMenuLink:hover p{
    font-weight: 500;
}


.subMenuLink span{
    transition: transform 0.5s;
}

.subMenuLink:hover span{
    transform: translateX(5px);
}




@media screen and (max-width: 768px) {
    .nav {
        width: 100%;
    }


    .linkicon li i{
        font-size: clamp(10px,1vw,14px);
        border: none;
        margin: 0;
        padding: 1vw;
    }

    #menu{
        font-size: clamp(11px,1vw,14px);
    }

    .submenu {
        width: 30vw;
    }

    .submenu.open-menu{
        width: 30vw;
    }


    .navlist a{
        font-size: clamp(11px,1vw,14px);
        padding: 0;
        padding: 0.6vw 1vw;      
        border: none; 
        margin: 0;
    }

    .navlist a:hover{
        background-color: transparent;
    }
}