
.news{
    width: 90%;
    background: url(./img/news\ bg.png);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 7vw;
    align-items: center;
    /* border: 1px solid red; */
}

.list ul{
    display: flex;
    margin-bottom: 2vw;
}

.list li a{
    font-size: 1vw;
    color: #003F6A;
    padding: 0 5vw;

}

.news img{
    width: 35%;
}

.newslist{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.newsdt{
    width: 8vw; 
    font-size: 14px;
    color: #003F6A;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
}



.newslist .newsdt>span:last-child{
    width: 5vw;
    font-size: 0.8vw;
    font-weight: 400;
    padding: 0.3vw 1vw;
    margin-top: 6px;
    color: #fff;
    background-color: #FAB500;
    border-radius: 3px;
    text-align: center;
    
}

 .newsdt>span:first-child{
    /* font-size: 1.5vw; */
    margin-right: 1vw;
}

.newsct{
    display: flex;
    /* width: 50vw; */
}

.newsct .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2.5vw;
    /* border: 1px solid red; */
}

.content h4{
    /* border: 1px solid #000; */
    margin: 0;
}

.newsct p{
    width: 25vw;
    font-size: 0.9vw;
}

.newslist{
    line-height: 2;
    justify-content: center;
    flex-direction: column;
    
}

/* .news a{
    color: black;
    font-size: 14px;
} */

.news1, .news2, .news3, .news4{
    display: flex;
    padding: 3vw 0;
    border-bottom: 1px solid rgb(208, 208, 208);
}

/* .news .btn{
    background-color: #003F6A;
    display: flex;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
} */

.news .btn a{
    font-size: 1vw;
    color: #fff;
    margin: 0 auto;
    padding: 0.5vw 3vw;
}


.pagination{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.pagination ul{
    display: flex;
    align-items: center;
}
.pagination li{
   margin: 15px; 
   padding: 0 0.5vw;
}

.prev a, .next a{
    font-size: 10px;
    padding: 5px 15px;
    border: 1px solid #003F6A;
    border-radius: 5px;
    
}

/* news hover */
/* .news1:hover{
    background-image: linear-gradient(to right, #eafaff, #ffffff76 50%);
}

.news3:hover{
    background-image: linear-gradient(to right, #eafaff, #ffffff76 50%);
}

.news2:hover{
    background-image: linear-gradient(to left, #eafaff, #ffffff76 50%);
}

.news4:hover{
    background-image: linear-gradient(to left, #eafaff, #ffffff76 50%);
} */


/* @keyframes AnimeGrade{
  0%{
    background-position: 0% 50%
  }
  50%{
    background-position: 100% 50%
  }
  100%{
    background-position: 0% 50%
  }
} */


/* 小於768px */
@media screen and (max-width:768px) {

    .news{
        margin-top: 12vw;
    }

    .news h1{
        font-size: clamp(16px,4vw,32px);
        margin: 0 auto;
    }

    .list{
        margin: 0 auto;

    }

    .list ul{
        padding: 0;
        margin-top: 6vw;
    }

    .newslist{
        width:100%;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: start;
        flex-wrap: wrap;
    }

    .list li a{
        font-size: clamp(12px ,1vw , 10px);
    }
    
    .news1, .news2, .news3, .news4{
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5vw 0 3vw;
        
    }

    .newsct{
        height: 35vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: -1;
        margin-bottom: 4vw;
    }

    .title{
        width: 80%;
    }

    .newsct{
        width: 90%;
        margin: 0;
    }

    .newsct img{
        width: 100%;
        margin-bottom: 3vw;
    }

    .title h4{
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* width: 80%; */
    font-size: clamp(10px, 1vw, 14px);
    text-align: justify; 
    }

    .content{
        width: 100%;
    }

    .content p{
        width: 90%;
        font-size: clamp(8px, 1vw, 14px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: justify; 
        margin: 2vw 0 0;
        
    }

    .newsdt{
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .newsdt span{
        font-size: clamp(7px, 1vw, 12px);
    }

    .list li a{
        font-size: clamp(10px, 1vw, 14px);
    }

    .pagination ul{
        margin: 0;
        padding: 0;
    }

    .prev a, .next a{
        font-size: clamp(8px, 1vw, 14px);
        padding: 0.4vw 1.2vw;
        border-radius: 0.5vw;
    }
   
}


/* 改成選單上方 左右滑 或增加改變排列鍵*/