.bookpage{
    margin-top: 9vw;
}


.bookpage .title{
    margin: 0 auto;
}

.bookpage h1{
    font-size: clamp(3vw,3vw,32vw);
}

.status{
    display: flex;
    flex-direction: column;
}

#calendar{
    margin: 0 auto;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* calendar */

#calendar {
    width: 40vw;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    float: left;
  }
  
  .ui-datepicker {
    margin: 30px 20px;
    /* font-size: 80px; */
  }


  
  .ui-datepicker a {
    text-decoration: none;
    color: #6a7883;
  }
  
  .ui-datepicker table {
    width: 100%;
  }
  
  
  /*Styling the Header Section*/
  
  .ui-datepicker-header {
    height: 60px;
    border-bottom: 1px solid #c6cdd2;
  }
  
  .ui-datepicker-title {
    color: #e5eaee;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .ui-datepicker-title span{
    font-size: 2.5vw;
    
  }
  
  .ui-datepicker-prev,
  .ui-datepicker-next {
    width: 1vw;
    height: 1vw;
    text-indent: 9999px;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
  }
  
  .ui-datepicker-prev {
    float: left;
    margin-left: 12px;
  }
  
  .ui-datepicker-prev:after {
    transform: rotate(45deg);
  }
  
  .ui-datepicker-next {
    float: right;
    margin-right: 12px;
  }
  
  .ui-datepicker-next:after {
    transform: rotate(-135deg);
  }
  
  .ui-datepicker-prev:after,
  .ui-datepicker-next:after {
    content: '';
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border-left: 3px solid #6a7883;
    border-bottom: 3px solid #6a7883;
  }
  
  .ui-datepicker-calendar thead tr th span {
    display: block;
    width: 40px;
    color: #bdc5cb;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
  }
  
  
  /*Styling the Dates*/
  
  .ui-state-default {
    display: block;
    color: #f26a63;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    width: 40px;
  }
  
  .ui-datepicker-other-month .ui-state-default {
    color: #bdc5cb;
  }
  
  
  /*active day*/
  
  .ui-state-default:hover {
    background: #6a7883;
    color: #ffffff;
    border: 1px solid #6a7883;
    border-radius: 99px;
    position: relative;
    margin: -1px;
  }
  
  .ui-datepicker-calendar .ui-state-highlight {
    color: #f26a63;
    font-weight: bold;
  }
  
  .ui-datepicker-calendar .ui-state-active {
    background: #6a7883;
    color: #ffffff;
    border: 1px solid #6a7883;
    border-radius: 99px;
    position: relative;
    margin: -1px;
  }


/* switch button */


.searchItem ul{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 6vw 0 3vw;
    
}

.searchItem a{
    border: 1px solid #003F6A;
    background-color: #ffffff;
    width: 20vw;
    padding: 0.5vw 5vw;
    text-align: center;
}



/* form */


.searchCont{
    width: 60vw;
    margin: 0 auto;
    display: flex;
    color: #003F6A;
    flex-direction: column;border: 1px solid black;
    border-radius: 10px;
    font-family: 'Noto Sans TC', sans-serif;
}



.form{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    margin-top: 2vw;
    
}


.pickcourt{
    display: flex;
    justify-content: space-around;
}
.pickcourt select{
    width: 15vw;
    border: none;
    border-bottom: 1px solid #003F6A;
}

.pickdate{
    width: 20vw;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.pickdate input{
    width: 15vw;
    border: none;
    border-bottom: 1px solid #003F6A;
}

.picknum{
    width: 20vw;
    display: flex;
    justify-content: space-around;
}

.picknum input{
    width: 15vw;
    border: none;
    border-bottom: 1px solid #003F6A;
}

label{
    letter-spacing: 3px;
}

.picknet input, .pictype input{
    margin-right: 0.5vw;
}

.form .left{
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    
}

.form .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form input{
    outline: none;
}

.right input, .left input{
    margin-bottom: 2.5vw;
}

.pickcourt{
    margin-bottom: 2vw;
}

.pickdate{
    margin-bottom: 0.8vw;
}

.submit input{
    display: flex;
    align-self: center;
    margin: 2.5vw auto 0;
    background-color: #003F6A;
    color: white;
    font-size: 1vw;
    padding: 0.6vw 2vw;
    border: none;
    border-radius: 0.3vw;
    text-align: center;
    align-items: center;
}

.picktime select{
    width: 14vw;
    border: none;
    border-bottom: 1px solid #003F6A;
}


.picktime ::-webkit-input-placeholder {
    color: #003F6A;
    font-size: 1vw; 
   }

/* rent form */

.rent .form{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: center;
    outline: none;
    
    
}

.rent input{
    border: none;
    border-bottom: 1px solid #003F6A;
    width: 10vw;
}

.rent .left{
    margin: 0 auto;
    /* align-items: start; */
}

.rent .dateinput{
    flex-direction: column;
    width: 18vw;
}

.rentpickdate input{
    margin-left: 0.5vw;
}

.rent .name input{
    width: 14vw;
}

.rentpickdate{
    display: flex;
}

.rent input{
    width: 15vw;
    align-items: end;
    margin-bottom: 2vw;
}

.rent select{
    width: 15.5vw;
    outline: none;
    border: none;
    border-bottom: 1px solid #003F6A;
    margin-bottom: 2vw;
}


.rent .submit{
    margin: 0 auto;
}

.rent button{
    margin: 0 auto;
    text-align: center;
    margin-left: 0;
}

