body{
    width: 100%;
}
.side {
    width: 200px;
    margin-top: 160px;
    right: 0;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

.side span{
    font-size: 12px;
    font-weight:500;
    margin-top: 30px;
    line-height: 1;
}

.price span{
    font-size: 16px;
    color: #003F6A;
    font-weight: 600;
    
}



.price{
    margin-top: 40px;
}

.sizeGuide{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 6px;
}

.sizeGuide span:first-child{
    margin-right: 120px;
}

.sizeGuide span a{
    font-size: 10px;
}

.side select{
    width: 200px;
    font-size: 12px;
    padding: 10px;
    border: none;
    background-color: #F4F9FF;
    padding: 3px;
    margin-top: 5px;
}

.mainPic img{
    width: 35vw;
}

.morePic img{
    width: 8vw;
}

.addToCart{
    display: flex;
    justify-content: center;
    text-align: center;
}


.addToCart img{
    width: 20px;
}

.num{
    margin: 30px 50px;
}

.addToCart_btn button{
    font-size: 12px;
    color: #003F6A;
    font-weight: 600;
    padding: 8px;
    width: 200px;
    background-color: #A5C2F5;
}

.detail{
    width: 500px;
}

/* 尺寸表 */
table{
    width: 480px;
    border: 1px solid #003F6A;
    border-collapse: collapse;
}

.title{
    display: flex;
}

.title h4{
    margin-right: 10px;
}

.title span{
    margin-top: 16px;
    font-size: 12px;
}

table tr{
    width: 3px;
    font-family: 'Roboto', sans-serif;
}

th{
    font-size: 12px;
    border-right: 1px solid #003F6A;
    padding: 5px 0px;
}
td{
    width: 30px;
    border-collapse: collapse;
    text-align: center;
    border-right: 1px solid #003F6A;
    border-top: 1px solid #003F6A;
    font-size: 12px;
    padding: 5px 0px;
    
}


.sizeGuide{
    display: flex;
    /* justify-content: space-around; */
    
}

.mainarea{
    display: flex;
    flex-direction: column;
}

.breadcrumbs{
    margin-top: 120px;
    margin-left: 90px;
    margin-bottom: 30px;
}
.product_contain{
    display: flex;
    /* flex-direction: column; */
    width: 710px;
    margin-left: 90px;
    margin-top: 20px;
}


.product_information p{
    font-size: 14px;
    margin-bottom: 50px;
}

.size_guide{
    display: flex;
    flex-direction: column;
    width: 80%;
}


.product_photo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-left: 90px;

}

.mainPic{
    margin-left: 20px;
}


.morePic img{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.morePic i{
    color: #003F6A;
}

.morePic button{
    background-color: white;
    border: none;  
    position: absolute;
    left: 207px;
}


.description{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 295px;
}

.detail p{
    font-size: 14px;
    padding-bottom: 15px;
}

/* 推薦商品 */

.recommend{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 247px; */
    margin-top: 100px;
    background-color: #E9F2FF;
}

.recommend h3{
    /* margin-left: 210px; */
    margin-bottom: 32px;
    padding-top: 30px;
    font-size: 24px;
}

.recommend .list{
    display: flex;
}

.recommend .list img{
    width: 200px;
    margin: 6px;
    padding-top:10px;
    padding-bottom: 60px;
}

.recommend .list button img{
    width: 30px;
}

 button{
    background-color: #fFF;
    border: none;
}

.recommend button{
    margin: 40px;
    background-color: #E9F2FF;
}

.productpagemq{
    display: none;
}

@media (max-width: 768px){
    .productpage{
        display: none;
    }

    .productpagemq{
        display: block;
        width: 100%;
    }

    .product_contain{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .product_photo{
        margin: 0;
        padding: 0;
    }

    .productpagemq h1{
        margin-top: 12vw;
        color: #003F6A;
        font-size: clamp(16px,4vw,32px);
        font-family: 'Bebas Neue', sans-serif;
    }

    .productpagemq h3{
        font-size: clamp(12px,2.5vw,32px);
        font-weight: 500;
        
    }


    .productpagemq h4{
        width: 20vw;
        color: #003F6A;
        font-size: clamp(10px,2vw,32px);
        margin: 0;
        font-family: 'Bebas Neue', sans-serif;
        
    }

    .breadcrumbs a{
        text-decoration: none;
        color: #003F6A;
        font-size: clamp(10px,1vw,14px);
    }

    .breadcrumbs{
        margin: 2vw 0;
    }

    .mainPic{
        margin: 0 auto;
        
    }

    .mainPic img{
        width: 100%;
        vertical-align: bottom;
    }

    .side{
        width: 100%;
        margin: 6vw 0 0;
        
    }

    .intro{
        width: 100%;
        display: flex;
        margin-top: 2vw;
        position: relative;
        
    }

    .price{
        color: #003F6A;
        font-size: 16px;
        font-family: 'Bebas Neue', sans-serif;
        margin: 0;
        position: absolute;
        right: 0;

    }

    .cart{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    .size ul{
        display: flex;
        width: 100%;
        /* border: 1px solid blue; */
        justify-self: start;
        padding: 0;
        margin-left: 1.5vw;
    }

    .size li{
        font-size: clamp(10px,1vw,14px);
        list-style: none;
        margin: 0.5vw;
    }

    .size span{
        padding: 1vw 2.3vw;
        color: #003F6A;
        border: 1px solid #003F6A;
        border-radius: 2px;
        letter-spacing: normal;
        
    } 

    
    .addToCart {
        width: 100%;
        justify-content: end;
    }

    .addToCart button{
        padding: 0;
       
    }

    .addToCart img{
        width: 4vw;
    }


    .btn button{
        font-size: 2.3vw;
        width: 40vw;
        border: none;
        background-color: rgb(212, 232, 245);
        color: #003F6A;
        padding: 1.5vw 1.5vw;
        margin: 1.5vw;
        border-radius: 2px;
    }



    /* description */

    .description{
        width: 100%;
        margin: 0;
        padding: 0;
        margin: 0 auto;
        margin-top: 9vw;
        
    }
    

    .description p{
        width: 80vw;
        font-size: clamp(10px,1vw,14px);
        padding: 2vw 0;
        line-height: 2;
        
    }

    .description img{
        width: 80%;
        vertical-align: bottom;
        
    }

    /* size */
    
    .sizeguide{
        width: 60%;
        display: flex;
        flex-direction: column;
    }

    .sizeguide span {
        font-size: clamp(10px,1vw,14px);
        letter-spacing: 2px;
        line-height: 2;
        
    }

    .sizeguide h4{
        margin: 4vw 0;
        
    }

    .recommend{
        display: none;
    }


}
    


