.product_side_list{
    margin-left: 90px;
  
    position: fixed;
}


.product img{
    width: 20vw;
    vertical-align: bottom;
}


.product{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.tops, .bottoms, .socks {
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-self: end;
    margin-bottom: 80px;
    position: relative;
}

.topsList, .bottomsList, .socksList{
    display: flex;
}

.tops1, .tops2, .tops3{
    position: relative;
    margin: 0px 20px ;
    width: 250px;
    height: 300px;
    border: 1px solid rgb(196, 196, 196);
}


.productName{
    margin-top: 60px;
}

.bottom1, .bottom2, .bottom3{
    position: relative;
    margin: 0px 20px;
    width: 250px;
    height: 300px;
    border: 1px solid rgb(196, 196, 196);
}

.bottomsList img{
    width: 220px;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 15px;
}

.bottoms .productName{
    margin-top: 80px;
}

.tops i, .bottoms i{
    position: absolute;
    right: -42px;
}

.socks i{
    position: absolute;
    right: -100px;
}

.sock1, .sock2, .sock3{
    margin: 20px;
    width: 250px;
    height: 300px;
    border: 1px solid rgb(196, 196, 196);
    position: relative;
}

.productName{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding-left: 18px;
}

.productSize{
    display: flex;
    z-index: 1;
    position: absolute;
    bottom: 10px;
    padding: 0px 20px;
}

.productSize span{
    font-size: 12px;
}

.productSize i{
    font-size: 14px;
    padding:6px 3px 6px 6px;
    bottom: 3px;
    border: 1px solid gray;
    border-radius: 100px;
    text-align: center;
    align-self: center;
    align-items: center;
}

.all_btn a{
    font-size: 14px;
    color: white;
    background-color: #003F6A;
    border: none;
    padding: 3px 15px;
    border-radius: 5px;
    position: absolute;
    right: 50px;
    bottom: -20px;
}


/* hover圖放大 */
/* .tops1, .tops2, .tops3, .bottom1, .bottom2, .bottom3,.sock1, .sock2, .sock3{
    overflow: hidden;
  } */


  /* .bottom1, .bottom2, .bottom3{
    overflow: hidden;
  } */

  img{
    transition: .5s;
  }

  .cover-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .tops1:hover img{
    transform: scale(1.1);
  }

  .tops2:hover img{
    transform: scale(1.05);
  }

  .tops3:hover img{
    transform: scale(1.05);
  }
 
  .bottom1:hover img{
    transform: scale(1.05);
  }

  .bottom2:hover img{
    transform: scale(1.05);
  }
  
  .bottom3:hover img{
    transform: scale(1.05);
  }

  .sock1:hover img{
    transform: scale(1.05);
  }
  
  .sock2:hover img{
    transform: scale(1.05);
  }
  
  .sock3:hover img{
    transform: scale(1.05);
  }

  .productmq{
    display: none;
  }
  

  @media screen and (max-width: 768px) {
    .product{
      display: none;
    }

    .productmq{
      display: block;
    }


    .product_side_list{
      position: relative;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      margin-top: 12vw;
    }

    .product_side_list h1{
      font-size: clamp(16px,4vw,32px);
    }

    .product_side_list ul{
      display: flex;
    }

    .product_side_list li{
      padding: 4vw;
    }

    .product_side_list li a{
      font-size: clamp(10px,1vw,14px);
    }

    .product img{
      width: 20vw;
      
    }

    .tops1, .tops2, .tops3,.bottom1, .bottom2, .bottom3, .sock1, .sock2, .sock3{
      margin: 0 auto;
      width: 30vw;
      margin: 0 2vw;
    }

    .tops, .bottoms, .socks{
      margin: 0 auto;
    }

    .product{
      margin-top: 0.6vw;
    }

    .product h1{
      font-size: clamp(18px,2vw,20px);
      letter-spacing: 2px;
      margin-bottom: 4vw;
    }

    .productSize, .all_btn{
      display: none;
    }

    span {
      font-size: clamp(12px,2vw,16px);
    }
  }