.signin_card{
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

.signin_form h3{
    font-size: 24px;
}

.signin_card img{
    width: 350px;
}

.signin_form{
    margin-right: 60px;
    /* border: 1px solid red; */
}

.form{
    margin-bottom: 30px;
    margin-top: 40px;
    font-family: 'Noto Sans TC', sans-serif;
    color: #003F6A;
    font-size: 14px;
}

.form ::-webkit-input-placeholder {
     color: #003F6A;
     font-size: 10px; 
    }

.signin_form input{
    margin: 13px;
    border: none;
    border-bottom: 1px solid #003F6A;
    outline: none;
}


.submit_btn{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    /* margin-top: 60% */
}

.submit_btn a{
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 3px 107px;
    background-color: #003F6A;
    color: white;
    border-radius: 3px;
}

.email input{
    width: 180px;
}

.confirm input{
    width: 160px;
}

.password img, .confirm img{
    width: 14px;
}