.signin_card{
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

.signin_form h3{
    font-size: 24px;
}

.signin_card img{
    width: 350px;
}

.signin_form{
    margin-right: 60px;
}

.form{
    margin-bottom: 30px;
    margin-top: 40px;
    font-family: 'Noto Sans TC', sans-serif;
    color: #003F6A;
    font-size: 14px;
}

.form ::-webkit-input-placeholder {
     color: #003F6A;
     font-size: 10px; 
    }

.signin_form input{
    margin: 13px;
    border: none;
    border-bottom: 1px solid #003F6A;
    outline: none;
}


.submit_btn{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.submit_btn a{
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 3px 107px;
    background-color: #003F6A;
    color: white;
    border-radius: 3px;
}

.email input{
    width: 180px;
}

.confirm input{
    width: 160px;
}

.password img, .confirm img{
    width: 14px;
}

.signin_cardmq{
    display: none;
}


@media(max-width: 768px){
    .signin_card{
        display: none;
    }

    .signin_cardmq{
        display: block;
    }

    body{
        background-image: url(../img/signin.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    .signin_cardmq{
        display: block;
        margin: 0 auto;
        margin-top: 20vh;
        background-color: rgb(255, 255, 255,0.8);
        border-radius: 2px;
        width: 70%;
        padding: 6vw;
    }

    .form{
        margin: 0 auto;
        border: 1px solid red;
    }

    .signin_cardmq h3{
        font-size: clamp(16px,4vw,32px);
    }

    .signin_cardmq label{
        font-size: clamp(10px,1vw,14px);
        width: 30vw;
    }

    .signin_form input{
        
        background-color: transparent;
        align-items: center;
        border: none;
        border-bottom: 1px solid #003F6A;
    }


    ::-webkit-input-placeholder {
        color: #003F6A;
        font-size: clamp(8px,1vw,12px);
       }


    .login_btn a{
        font-size: clamp(10px,1vw,14px);
    }

    .password img{
        width: 2.5vw;
    }

    .forgetpw{
        display: flex;
        justify-content: end;
        margin-right: 20vw;
    }

    .submit_btn{
        margin: 0 auto;
        width: 50vw;
    }

    .submit_btn a{
        font-size: clamp(10px,1vw,14px);
        padding: 0.6vw 12vw;
    }

}